#bread-nav{
    overflow: hidden;
    margin-bottom: 16px;
}
#bread-nav li{
    overflow: hidden;
    float: left;
}
#nav-item{
    float: right;
}
#bread-nav a{
    font-size: 12px;
    font-family:"宋体";
    color: #333;
}
#bread-nav a:first-child{
    margin-left: 0;
}
#bread-nav a:hover{
    color: #a10000;
}
#bread-nav span{
    font-size: 10px;
    margin: 10px;
}
#desc-nav{
    margin-top: 19px;
    overflow: hidden;
}
#will-fixed{
    background-color: #FFF;
    z-index: 1;
}
#desc-nav h2{
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    margin-left: 10px;
    float: left;
}
#head-color{
    margin:10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
 }
#desc-nav a{
    line-height: 33px;
    font-family: "Microsoft YaHei UI";
    color: #000;
    font-weight: bold;
    font-size: 15px;
}
#desc-nav li{
    float: left;
}
#desc-nav li span{
    margin: 10px;
}
#select-area{
    overflow: hidden;
    margin-top: 20px;
    height:426px;
    position: relative;
}
#pic-left{
    float: left;
}
#left-pic-select{
    -webkit-transition: margin-top .5s;
    -moz-transition: margin-top .5s;
    -ms-transition: margin-top .5s;
    -o-transition: margin-top .5s;
    transition: margin-top .5s;
    width:70px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    margin-top: 12px;
}
.to-page{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: absolute;
    cursor: pointer;
    left: 30px;
    border:7px solid transparent;
    display: none;
    z-index: 3;
}
.left-bottom-pic{
    display: none;
}
#last-page{
    border-bottom-color: #666;
    top: -7px;
 }
#next-page{
    border-top-color: #666;
    bottom: 6px;
}
#control-left-move{
    float: left;
    width: 70px;
    height: 412px;
    overflow: hidden;
}
#last-page:hover{
    border-bottom-color: #a10000;
}
#next-page:hover{
    border-top-color: #a10000;
}
.left-select-pic{
    border:1px solid #B4B4B4;
    height:68px;
    width:68px;
    cursor: pointer;
    margin-bottom: 11px;
}
.red-border{
    border:1px solid #a10000;
}
#right-area-select{
    float: left;
    margin-left:80px;
    width:566px;
}
#common-pic{
    cursor: crosshair;
    width:400px;
    height:400px;
    float: right;
    border:1px solid #e5e6e6;
    margin-left: 80px;
    position: relative;
    overflow: hidden;
}
#shadow-pic{
    display: none;
    width: 222px;
    height: 222px;
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    opacity:.5;
}
#common-pic img{
    width:400px;
    height:400px;
}
#float-box{
    position: absolute;
    width:400px;
    height:400px;
}
#big-pic img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 800px;
}
#big-pic{
    display: none;
    position: absolute;
    left: 554px;
    top: 36px;
    z-index: 1;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-top: -20px;
    border: thin solid;
    margin-left: 2px;
}
.choose-img a:hover {
    color: #A10000 !important;
}
.hover-red a{
    color: #A10000 !important;
}
#gotop{
    z-index: 2;
}
.hr{
    border-bottom: 1px solid #e5e6e6;
    margin: 3px 0 -9px 0;
}
#right-area-select{
    font-size: 12px;
    font-family: "宋体";
}
#price-show span {
    margin: 5px;
}
#price-show{
    color: #A10000;
    margin-bottom: 33px;
}
#benefit-price h2{
    display: inline;
    font-family: Tahoma;
    font-size: 24px;
}
#recharge a{
    color: #A10000;
}
#sale-price span{
    text-decoration: line-through;
}
#sale-price{
    margin:0 !important;
}
.right-select-item{
    margin:10px 0;
    color: #666 !important;
}
#color li{
    position: relative;
    width:95px;
    height:40px;
    border:1px solid #B4B4B4;
    float: left;
    margin: 0 8px 8px 0;
    cursor: pointer;
}
#color li:hover{
    border-color: #a10000;
}
a:active{
    color:#666;
}
.little-img-right {
    width:36px;
    height:36px;
    float: left;
}
.right-select-item span:first-child{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
#color ul{
    overflow: hidden;
    margin-left:41px;
}
#size a{
    color:#000;
}
#size li{
    cursor: pointer;
    width: 13px;
    border: 1px solid #C8C8C8;
    padding: 5px 9px;
    margin-right: 7px;
    float: left;
    text-align: center;
    position: relative;
}
#size li a:hover #size li{
    border: 1px solid #a10000;
}
#size span:first-child{
    line-height: 27px;
}
.right-select-item{
    clear: left;
    margin-top: 21px;
    overflow: hidden;
}
#color li .little-img-right:first-child{
    background: url("../images/select-all-color.jpg") 0 0 no-repeat;
}
#color li a{
    color:#666;
}
.colorDes{
    width: 37px;
    margin: 6px 10px 0 0;
    display: inline-block;
    float: right;
}
.active-color{
    background: url(../images/selected-bottom.png) -1151px 0 no-repeat;
    width: 14px !important;
    height: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#buy-number select{
    border: thin solid #999;
    width: 47px;
    font-size:13px;
}
.bold{
    font-weight:bold;
    color:#666666;
}
#has-stock{
    color:#A10000;
}
#buynow{
    border: 1px solid #a10000;
    background: #F7ABAF;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #A50309;
    line-height: 33px;
    float: left;
}
#head-addCar{
    background: url("../images/all-icons.png") no-repeat -147px -285px;
    width: 168px;
    height: 33px;
    display: none;
    margin-left: 10px;
}
#addcar{
    background: url("../images/all-icons.png") no-repeat -147px -285px;
    float: left;
    margin-left:20px;
}
#go-buy a{
    display: block;
    width: 168px;
    height: 33px;
}
#benefit-tip{
    margin-top: 17px;
    width: 425px;
    text-align: center;
}
#benefit-tip span{
    width: 180px;
    height: 5px;
    border-top: thin solid #A50309;
    display: inline-block;
}
#benefit-tip span:last-child{
    width: 425px;
}
#benefit-desc{
    width: 128px;
    margin:0 auto;
    line-height: 24px;
}
#benefit-call{
    color:#A50309;
    display: inline;
    font-weight:bold;
}
#style span:first-child{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    display: block;
}
#style span:last-child{
    display: block;
    background-color: #F9F9F9;
    line-height: 38px;
    color: #a10000;
    font-size: 12px;
    padding-left: 10px;
}
#style span:last-child a{
    cursor: pointer;
    color:#666;
}
#style span:last-child a:hover{
    color: #a10000;
}
#hr-bottom-desnav2{
    display: none;
    margin:3px 0 0 0;
}
#comments-area{
    margin-top: 70px;
    font-size: 12px;
    overflow: hidden;
}
#recommend2{
    font-size: 13px;
    width:190px;
    float: left;
    border:1px solid #bbbbbb;
}
#recommend-head-area{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#recommend2 a{
    display: block;
    width: 160px;
    color: #808080;
    margin-left: 15px;
}
#recommend2 li{
    border-top: 1px solid #bbbbbb;
    text-align: center;
}
#recommend2 img{
    width: 160px;
    height:160px;
}
#recommend2  span{
    display: block;
    width: 130px;
    margin-left: 15px;
}
#recommend2 p{
    color: #a10000;
    line-height: 40px;
    font-weight: bold;
}
#recommend2 p:first-child{
    font: inherit;
    line-height: 40px;
    color: #333333;
    margin-left: 15px;
}
#comments-list-content{
    color:#333;
}
.whole-desc{
    width:980px;
    float: right;
    border:1px solid #bbbbbb;
}
#comments-list-head{
    height:40px;
    border-bottom:1px solid #bbbbbb;
}
#comments-list-head li{
    float: left;
    margin-left: 25px;
    line-height: 40px;
}
.sum-desc{
    float: right;
    width: 100px;
    line-height: 20px;
    height: 112px;
}
.want-write{
    float: right !important;
    background-color: #d46a6a;
    margin: 3px 30px 0 0;
    width: 120px;
    height: 33px;
    color: #FFF;
    text-align: center;
    line-height: 33px !important;
    cursor: pointer;
}
.content-detail{
    float: left;
    width: 780px;
    margin-left: 25px;
    line-height: 20px;
    padding: 40px 0 30px 0;
    border-bottom: 1px dotted #b4b4b4;
    border-right: 1px dotted #b4b4b4;
}
.vip{
    border-bottom: 1px dotted #b4b4b4;
    text-align: center;
    width: 165px;
    height: 112px;
    margin-top: 70px;
    float: left;
}
.vip-id{
    line-height: 26px;
}
.user-growth{
    background: url("../images/userlevelgrowth.jpg") no-repeat;
    display: inline-block;
    height: 14px;
    width: 42px;
}
.release-date{
    color: #b4b4b4;
    margin-top: 12px;
}
.size-content{
    margin-top: 12px;
}
.user-content{
    float: left;
    width: 610px;
}
#comments-list-content ul li{
    overflow: hidden;
}
.page{
    float: right;
    padding:20px;
}
.page li{
    padding: 0 13px 0 0px;
    float: left;
    list-style: none;
}
.page li a{
    color:#3e3a39;
}
.page li a:hover{
    color:#a10000;
}
.page .active-page{
    font-weight:bold;
}
#pic-comments-list .no-pic-comments{
    margin: 10px auto;
    text-align: center;
    color: #999;
}
#select7{
    margin-top: 20px;
}
#lasted-QA{
    float: left;
    margin-left: 25px;
    line-height: 40px;
    font-weight: bold;
}
#AQ-list ul{
    margin: 0 25px;
}
.Q,.A{
    margin-top: 1px;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    background-color: #a10000;
    display: block;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.A{
    background-color: #d46a6a;
}
.now-time,.to-reply{
    color:#999;
    margin:5px;
    float: right;
    display: inline-block;
}
.Q-desc {
    float: left;
    width: 766px;
    line-height: 23px;
}
.A-desc {
    display: inline;
    width: 766px;
    line-height: 23px;
    color:#999;
}
.Q-div{
    overflow: hidden;
    margin-bottom: 20px;
}
#AQ-head{
    border-bottom: 1px solid #bbbbbb;
}
.QA-list {
    margin: 20px 0;
    border-bottom: thin dotted #b4b4b4;
}
.to-reply{
    cursor: pointer;
}
#added-car{
    position: absolute;
    width: 500px;
    border: 1px solid #b81b22;
    right:0;
    top: 70px;
    background-color: #FFF;
    z-index: 3;
    display: none;
}
#added-car h2{
    padding-left: 20px;
    font-size:16px;
    height: 42px;
    line-height:42px;
    background: #b81b22;
    color:#FFF;
    font-weight: normal;
    position: relative;
}
#car-close{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#added-car .shoppingCar-icon{
    width: 74px;
    height: 74px;
    float: left;
    margin-right: 20px;
    background: url("../images/all-icons.png") no-repeat -232px -119px;
}
#number-price{
    font-size:14px;
    float: left;
    width: 100px;
    margin-top: 18px;
    line-height: 20px;
    border-left: 1px solid #b81b22;
    padding-left: 19px;
}
#number-price span.goods-all-number,span.goods-all-price{
    cursor: pointer;
    color:#b81b22;
    margin: 0 3px;
}
#added-car .choose-action{
    text-align: center;
    width:85px;
    font-size: 14px;
    font-weight: bold;
    padding:5px;
    float: right;
    margin-top: 23px;
    cursor: pointer;
}
#added-car .choose-action:hover{
    text-decoration: underline;
}
#go-on-shopping{
    background-color: #e5e6e6;
    color:#666;
}
#go-shoppingCar{
    background-color: #b81b22;
    color:#FFF;
}
#car-detail{
    margin: 20px 30px 10px 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border-bottom: 1px dotted #999;
}
#recommond-shopingCar p:first-child {
    color: #999;
    padding-left: 20px;
}
#car-ul{
    padding:10px 20px;
}
#car-ul li{
    float: left;
    margin-right: 20px;
}
#car-ul li:last-child{
    margin-right: 0;
}
#car-ul a{
    color:#666;
}
#car-ul a:hover{
    color:#b81b22;
}
#car-ul p{
    width:74px;
    text-align: center;
}
#car-ul p:last-child{
    color:#b81b22;
    margin: 5px 0;
}
#car-ul img{
    width: 74px !important;
    height: 74px !important;
    border: 1px solid #bdb8b8;
}
#my-A{
    width: 980px;
    float: right;
    margin-top: 20px;
    border: thin solid #b9b8b8;
    display: none;
}
#my-A-title{
    margin: 10px;
}
#my-A-title p{
    font-weight: bold;
    font-size: 14px;
}
#A-type span,#A-content span{
    float: left;
    font-weight: bold;
    color:#666;
    font-size: 12px;
    margin:2px 10px 0 10px;
}
#A-type .A-type-lable{
    font-size:12px;
    margin-left: 10px;
}
#A-content{
    margin-top:10px;
}
#A-text{
    border: 1px solid #bdb8b8;
    max-height:300px;
    max-width:600px;
}
#A-submit{
    font-size: 13px;
    color: #FFF !important;
    background-color: #8c0e13;
    width: 69px;
    line-height: 27px;
    text-align: center;
    border-radius: 3px;
    margin: 10px 74px;
    cursor: pointer;
}
#AQ-close{
    margin-left:683px;
    cursor: pointer;
}
#big-shopingCar{
    display: none;
    position:fixed;
    z-index: 3;
    right:0;
    top:0;
    padding: 20px;
    background-color:#FFF;
    border:thin solid #8c0e13;
 }
#big-shopingCar img{
    width:262px;
    height:262px;
    float: left;
}
#close_headCar{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    width: 23px;
    height: 28px;
    font-size: 28px;
    display: inline-block;
    cursor: pointer;

}
#closeHeadCarbg{
    height:50px;
    background-color: #8c0e13;
    margin: -20px -20px 0 -20px;
}
